html {
  box-sizing: border-box;
  /* line-height: 1.5; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
  /* padding: 1rem;
  display: grid;
  grid-template-areas:
    "header header"
    "header header"
    "figure figure";
  grid-template-columns: 2fr;
  grid-template-rows: 1fr; */
}
